@full-height: 100%;

html, body, main, section {
  height: @full-height;
} 

#welcome_page_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#positional_file_section {
  #file_content {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
  }
}